@use "../../variables";
@use "../../colors";

.service-card {
    min-height: 212px;
    max-width: 290px;
    margin: 0 40px 50px 0;

    .service-icon {
        width: 64px;
        height: 64px;
    }

    .service-h {
        font-size: 24px;
        color: colors.$text-dark;
        margin: 52px 0;

        @media (max-width: variables.$medium) {
            margin: 27px 0;
        }
    }

    .service-p {
        font-size: 20px;
        color: colors.$text-dark;
    }
}