@use "../../variables";

.clients-sec {
    padding: 72px 80px 0 80px;
    display: flex;
    flex-direction: column;

    @media (max-width: variables.$small) {
        padding: 18px 24px 0 24px;
    }

    .clients-con {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: 1280px;
        padding: 0;
        align-self: center;

        @media (max-width: variables.$medium) {
            justify-content: space-between;
        }

        @media (max-width: variables.$small) {
            justify-content: center;
        }

        .clients-img {
            @media (max-width: variables.$medium) {
                width: 128px;
                height: 60px;
            }
        }
    }
}