@use "../../variables";

.case-studies-sec {
    display: flex; 
    width: 100%;
    flex-direction: column;

    .case-studies-sub-h-con {
        width: 100%; 
        padding: 0 80px;

        @media (max-width: variables.$small) {
            padding: 0 24px;
        }
    }

    .case-studies-caro-con {
        align-self: center; 
        padding: 0 80px;
        width: 100%;
        display: block; 
        height: 400px;
        overflow: hidden;
    }
}