@use "../../variables";
@use "../../colors";

footer {
    width: 100%;
    background-color: colors.$primary-dark;
    padding: 70px 80px;

    @media (max-width: variables.$small) {
        padding: 18px 24px;
    }

    .footer-sub-h {
        max-width: variables.$large;
        color: colors.$text-mid-light;
        font-size: 48px;
        margin: 0 0 54px 0;

        @media (max-width: 980px) {
            font-size: 24px;
        }

        @media (max-width: variables.$medium) {
            max-width: 300px;
        }
    }

    .footer-con {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media (max-width: 1630px) {
            flex-direction: column;
        }
    }

    .footer-sub-con {
        flex-grow: 1;
    }

    .footer-sub-con:first {
        flex-grow: 3;
    }

    .footer-link {
        text-decoration: none;
        color: var(--color-text-light);
        font-size: 20px;
    }

    .footer-link-con {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100px;

        @media (max-width: variables.$medium) {
            flex-wrap: nowrap;
            max-height: unset;
        }
    }

    li {
        list-style: none;
    }

    p, .c {
        margin: 0;
        font-size: 20px;
    }

    .address {
        @media (max-width: 1630px) {
            margin-top: 60px;
        }
    }

    .tail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        margin-top: 72px;
    }
}