@use "../../colors";

button {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.primary {
    background-color: colors.$secondary;
    border: 1px solid colors.$secondary;
    color: colors.$primary;
}

.secondary {
    background-color: colors.$primary;
    border: 1px solid colors.$primary;
    color: colors.$secondary;
}

.primary:hover {
    background-color: colors.$active;
    border: 1px solid colors.$active;
    color: colors.$secondary;
}

.secondary:hover {
    background-color: colors.$secondary;
    border: 1px solid colors.$secondary;
    color: colors.$primary;
}