@use "../../variables";
@use "../../colors";

.body-sub-h {
    color: colors.$text-mid-light;
    font-size: 48px;
    margin: 0 0 54px 0;

    @media (max-width: variables.$medium) {
        font-size: 24px;
    }
}

.dark {
    color: colors.$text-mid-dark;
}