.body-sub-h {
    color: var(--color-text-mid-light);
    font-size: 48px;
    margin: 0 0 54px 0;

    @media (max-width: $medium) {
        font-size: 24px;
    }
}

.dark {
    color: var(--color-text-mid-dark);
}